@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');

* {
    box-sizing: border-box;
    transition: 1s;
}

body {
    margin: 0;
    font-family: 'Outfit';
}

figure,p{
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    margin: 0;
    background-color: hsl(217, 54%, 11%);
    border: 1px solid hsl(217, 54%, 11%);
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
    background-color: hsl(216, 50%, 16%);
    border: 1px solid hsl(216, 50%, 16%);
    border-radius: 5px;
    max-width: 100%;
    margin: 20px;
    padding: 18px;
}

.container>figure>img {
    border-radius: 5px;
    max-width: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.container>h1 {
    color: hsl(0, 0%, 100%);
    font-size: 20px;
    letter-spacing: 0.05rem;
    font-weight: 600;
}

.container>p {
    color: hsl(215, 51%, 70%);
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 0.03rem;
}

.cont1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 18px;
}

.contd1 {
    align-self: flex-start;
    display: flex;
    flex-direction: row;
    color: hsl(178, 100%, 50%);
}

.contd1>p {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 300;
}

.contd2 {
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    color: hsl(215, 51%, 70%);
}

.contd2>svg {
    align-self: center;
}

.contd2>p {
    margin-left: 5px;
    font-size: 14px;
    font-weight: 300;
}

.cont2 {
    display: flex;
    flex-direction: row;
    border-top: 1px solid hsl(215, 32%, 27%);
    padding-top: 18px;
}

.cont2>figure{
    padding: 0;
    width: 12%;
}

.cont2>figure>img {
    max-width: 100%;
    border-radius: 50%;
    margin: 0;
    border: 1px solid hsl(0, 0%, 100%);
}

.cont2>p {
    align-self: center;
    margin-left: 18px;
    color: hsl(0, 0%, 100%);
    letter-spacing: 0.05rem;
    font-size: 14px;
    font-weight: 300;
}

.cont2>p>span {
    color: hsl(215, 51%, 70%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-bottom: 0;
    margin-top: 5px;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}